.jumbotron {
    background-color: rgb(234, 203, 208);
    background-size: cover;
  }

.parallax {
  /* The image used */
  background-color: rgb(234, 203, 208);
  
  /* Set a specific height */
  /* min-height: 500px;  */
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

.callout {
  background-color: rgb(234, 203, 208);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  height:40vh;
}